*{margin: 0;
  box-sizing: border-box;}

body{background: url(BG.jpg);
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
     background-color: #f9f9ff;}

#header{background-color: rgba(0, 0, 0, 50%);
        height: 80px;}

#header_esp{height: 100%;
            width: 100%;}

#header_esp>div{width: 100%;
                height: 100%;
                display: flex;
                align-items: center;}

#header_esp>div>div:last-of-type{padding-left: 35.5%;
                                 width: 100%;}

#header_esp>div>div:last-of-type>li{display: inline-block;
                                    padding-right: 4%;}

#header_esp>div>div:last-of-type>li>a{font-family: poppins;
                                      font-weight: 500;
                                      text-transform: uppercase;
                                      text-decoration: none;
                                      color: white;
                                      font-size: 12px;}

#header_esp>div>div>li>a:hover{color: #fcdc00;}

#header_esp>div>div>li:first-of-type>a{color: #fcdc00;}

#header_esp>div>div:first-of-type{padding-left: 7.8vw;}

#dropdown{display: inline-block;
          font-family: poppins;}

#dropdown>p{color: white;
            font-size: 12px;
            font-weight: 500;}

#content_dropdown a:first-of-type{border-bottom: solid 1px #ededed;}

#content_dropdown a{font-size: 12px;
                    padding: 0px 30px;
                    line-height: 45px;
                    text-align: start;
                    transition: 0.4s;
                    text-decoration: none;}

#content_dropdown{position: absolute;
                  top: 10.5%;
                  opacity: 0%;
                  position: absolute;
                  background-color: #ddd;
                  min-width: 200px;}

#dropdown:hover  #content_dropdown{display: block;
                                   position: absolute;
                                   top: 8.5%;
                                   opacity: 100%;
                                   background-color: white;}

#content_dropdown a{color: black;
                    display: flex;}

#content_dropdown a:hover{background-color: #fcdc00;}
