*{margin: 0;
  box-sizing: border-box;}

body{background: url(BG.jpg);
     background-repeat: no-repeat;
     position: relative;
     width: 100%;
     height: 100vh;
     background-color: #f9f9ff;}

#header{background-color: rgba(0, 0, 0, 50%);
        height: 80px;}

#header_esp{height: 100%;
            width: 100%;}

#header_esp>div{width: 100%;
                height: 100%;
                display: flex;
                align-items: center;}

#header_esp>div>div:last-of-type{padding-left: 35.5%;
                                 width: 100%;}

#header_esp>div>div:last-of-type>li{display: inline-block;
                                    padding-right: 4%;}
 
#header_esp>div>div:last-of-type>li>a{font-family: poppins;
                                      font-weight: 500;
                                      text-transform: uppercase;
                                      text-decoration: none;
                                      color: white;
                                      font-size: 12px;}

#header_esp>div>div>li>a:hover{color: #fcdc00;}

#header_esp>div>div>li:nth-of-type(2)>a{color: #fcdc00;}

#header_esp>div>div:first-of-type{padding-left: 7.8vw;}

#dropdown{display: inline-block;
          font-family: poppins;}

#dropdown>p{color: white;
            font-size: 12px;
            font-weight: 500;}

#content_dropdown a:first-of-type{border-bottom: solid 1px #ededed;}

#content_dropdown a{font-size: 12px;
                    padding: 0px 30px;
                    line-height: 45px;
                    text-align: start;
                    transition: 0.4s;
                    text-decoration: none;}

#content_dropdown{position: absolute;
                  top: 10.5%;
                  opacity: 0%;
                  position: absolute;
                  background-color: #ddd;
                  min-width: 200px;}

#dropdown:hover  #content_dropdown{display: block;
                                   position: absolute;
                                   top: 8.5%;
                                   opacity: 100%;
                                   background-color: white;}

#content_dropdown a{color: black;
                    display: flex;}

#content_dropdown a:hover{background-color: #fcdc00;}

#gallerytitle{width: 100%;
              display: flex;
              height: 400px;
              align-items: center;
              justify-content: center;}

#gallerytitle>div>div>h2{font-size: 48px;
                         font-family: poppins;
                         color: white;}

#gallerytitle>div>div>div{display: flex;
                          justify-content: center;
                          padding-top: 2vh;}

#gallerytitle>div>div>div>a{color: white;
                            font-family: poppins;
                            text-decoration: none;
                            font-weight: 200;}

#gallerytitle>div>div>div>a:hover{color: #fcdc00;}

#gallerytitle>div>div>div>a>svg>path:hover{fill: #fcdc00;}

#photos{height: 1743px;
        padding-top: 80px;
        width: 100%;
        background-color: #f9f9ff;}

#photos>div{display: flex;
            justify-content: center;}

#photos>div>li{display: inline-block;}

#photos>div>li>a{display: block;
                 background-color: white;
                 padding: 0 30px;
                 line-height: 46px;
                 font-family: poppins;
                 text-decoration: none;
                 font-size: 12px;
                 color: #222222;
                 border: solid 1px #eeeeee;
                 font-weight: 600;}

#photos>div>li:nth-child(2)>a{background-color: #fcdc00;}

#photos>div>li>a:hover{background-color: #fcdc00;
                       transition: 0.5s;}

#photos>div>li:first-of-type,#photos>div>li:last-of-type{width: 17.5%;
                                                         background-color: white;}

#photos>div>li>p{border: solid 1px #eeeeee;
                 height: 100%;
                 color: white;
                 user-select: none;}

#imagens>div>img{padding: 0px 15px;}

#imagens>div>div>a{position: relative;
                   padding-left: 7%;
                   color: white;
                   bottom: 10.8vh;
                   padding-left: 3.9vw;
                   font-size: 18px;
                   font-weight: 600;
                   text-decoration: none;
                   font-family: poppins;}

#photos>div:nth-of-type(2){margin-top: 9vh;}

#photos>div:nth-of-type(4){margin-bottom: 5vh;}

#buttonlmi{width: 100%;
           display: flex;
           justify-content: center;}

#button_lmi{display: block;
            font-weight: 600;
            padding: 0 28px;
            line-height: 40px;
            text-decoration: none;
            font-size: 14px;
            color: black;
            font-family: poppins;
            background-color: #fcdc00;}

#feedback{display: flex;
          margin-top: 100px;
          justify-content: center;
          padding: 120px 0px;
          width: 100%;
          font-family: poppins, sans-serif;
          background-color: #fcdc00;}
 
#feedback>div{display: flex;
              width: 60%;
              justify-content: center;
              align-items: center;}

#feedback>div>div:first-of-type{width: 100%;}

#feedback>div>div:first-of-type>h4{font-size: 36px;
                                   padding-bottom: 18px;}

#feedback>div>div:first-of-type>p{font-size: 14px;
                                  font-weight: 300;
                                  line-height: 24px;
                                  color: #222222;}

#feedback>div>div>img{height: 80px;}

#feedback>div>div:last-of-type{display: flex;
                               align-items: flex-start;
                               padding: 40px 40px 40px 40px;
                               background-color: white;}

#feedback>div>div>div{padding-left: 3%;
                      font-family: poppins;
                      color: #777;}

#feedback>div>div>div>p{font-size: 14px;
                        line-height: 24px;
                        margin-bottom: 17px;}

#feedback>div>div>div>h4{font-size: 18px;
                         color: black;
                         margin-bottom: 8px;}

#feedback>div>div>div>h6{font-size: 14px;
                         font-weight: 300;}

#buttonfuoi{padding-top: 11%;
            width: 100%;
            display: flex;
            justify-content: center;
            padding-bottom: 80px;}

#button_fuoi{display: block;
             font-weight: 600;
             padding: 0 28px;
             line-height: 60px;
             text-decoration: none;
             font-size: 14px;
             color: black;
             font-family: poppins;
             background-color: #fcdc00;}

#lastimg{display: flex;
         justify-content: center;
         width: 100%;}

#lastimg>a{display: block;
           overflow: hidden;
           max-width: 16.667%;
           object-fit: cover;}

#lastimg>a>img:hover{transform: scale(1.1);
                     transition: all 0.3s;}

#footer{background-color: #04091e;
        padding: 120px;
        font-family: poppins;}

#footer>div{display: flex;
            justify-content: center;}

#footer>div>div{padding: 0 15px;}

#footer>div>div:first-of-type{font-size: 18px;
                              margin-right: 80px;
                              color: white;}

#footer>div>div>div>h3{font-size: 21px;
                       color: white;}

#footer>div>div:first-of-type>div>div>h3{margin-bottom: 35px;}

#footer>div>div:first-of-type>div>p{font-size: 14px;
                                    color: #777777;
                                    margin-bottom: 30px;}

#footer>div>div:first-of-type>div>p{font-size: 14px;
                                    color: #777777;}

#footer>div>div:first-of-type>div>p>a{color: #fcdc00;
                                      text-decoration: none;}

#footer>div>div>div>h3{margin-bottom: 35px;}

#footer>div>div>p{color: #777777;
                  font-size: 14px;
                  margin: 0 0 30px;}

input{border: none;
      width: 419px;
      padding: 0 15px;
      height: 40px;
      text-decoration: none;}

#footer>div>div:nth-of-type(2)>div{display: flex;}

#footer>div>div:nth-of-type(2)>div>a{display: flex;
                                     justify-content: center;
                                     align-items: center;
                                     height: 40px;
                                     width: 40px;
                                     background-color: #fcdc00;}

#footer>div>div:nth-of-type(2)>div>a>img{display: flex;
                                         height: 2vh;
                                         text-decoration: none;}

#footer>div>div>a{display: button;
                  height: 100%;
                  width: 38px;
                  background-color: #fcdc00;}

#footer>div>div:last-of-type>h3{color: white;
                                margin-bottom: 4vh;}

#footer>div>div:last-of-type>ul{display: flex;
                                padding-left: 0;}

#footer>div>div:last-of-type>ul>li{display: inline-block;
                                   margin-right: 17px;}

#footer>div>    div:last-of-type>ul>li>a>svg>path:hover{fill: #fcdc00;}